body{
	background: #777777;
}
p,.centralizar{
	text-align: center;
}
em strong{
	color: #000000;
}
h1,h2{
	color: #0b0b0c;
}
#banner {
    width: 100%;
	height: 85%;
}
.items{
		font-style: italic;
		list-style:  none;
}
#beneficios{
		width: 50%;
}
ul{
	display: inline-block;
	width: 20%;
	margin-right: 15%;
	vertical-align:top;
}